/* =======general-settings======= */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* =======/general-settings======= */
/* =======reset-to-default-settings=======*/
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* =======/reset-to-default-settings=======*/
/* =======header-style-settings=======*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-nav .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.page-main-section-button:hover,
.page-main-section-button:focus {
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: flex;
  column-gap: 76px;
}

.nav-list {
  display: flex;
  column-gap: 40px;
}

.contacts-list {
  display: flex;
  column-gap: 40px;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

.section-paddings {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* =======/header-style-settings=======*/

/* =======page-1-part-1======= */

.page-main-section {
  background-color: #2e2f42;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-main-section-container {
  padding-top: 188px;
  padding-left: 331px;
  padding-right: 331px;
  padding-bottom: 188px;
}

.page-main-section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  /* padding-top: 188px; */
  max-width: 496px;
}

.page-main-section-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-top: 48px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
}

/* =======/page-1-part-1======= */
/* ==section-1-scrolls--page-1-part-2== */

.page-main-first-section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.page-main-first-section-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-main-first-section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main-first-section-list {
  display: flex;
  column-gap: 24px;
}

.page-main-first-section-item {
  width: calc((100% - 3 * 24px) / 4);
  display: flex;
  flex-direction: column;
}

/* ==/section-1-scrolls--page-1-part-2== */

.page-footer {
  background-color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.page-main-second {
  background-color: #f4f4fd;
}

.page-main-second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.page-main-second-list-item {
  background-color: #ffffff;
}

.page-main-second-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.page-main-second-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.page-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-main-third .page-main-second-list-title,
.page-main-third .page-main-second-list-text {
  text-align: left;
}

/* 
add styles for geometry 
(width, padding, margins, and borders) 
and content positioning with Flexbox 
for layout pages
*/

/* .page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
} */

/* .container .header-logo {
  flex-basis: 24px;
} */

/* .container .contacts-link {
  margin-right: 40px;
} */

/* .container .nav-link {
  margin-right: 40px;
} */

/* .page-main-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
} */
